HEAP_ARCH_CFLAGS=
HEAP_ARCH_CPPFLAGS=
HEAP_ARCH_LDFLAGS=
HEAP_ARCH_LIBS=
 
HEAP_ARCH_OBJS=$(BUILD_DIR)/$(ARCH_DIR)/kheap.cpp.o \
    $(BUILD_DIR)/$(ARCH_DIR)/heap.cpp.o \
    $(BUILD_DIR)/$(ARCH_DIR)/heap_strategy_factory.cpp.o \
    $(BUILD_DIR)/$(ARCH_DIR)/find_first_fit_strategy.cpp.o \
    $(BUILD_DIR)/$(ARCH_DIR)/heap_utilities.cpp.o


