KERNEL_ARCH_CFLAGS=
KERNEL_ARCH_CPPFLAGS=
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=
 
#KERNEL_ARCH_OBJS=$(pathsubst $(BUILD_DIR)/$(ARCH_DIR)/%.cpp,$(BUILD_DIR)/$(ARCH_DIR)/%.cpp.o,$(wildcard *.cpp))
KERNEL_ARCH_OBJS=$(BUILD_DIR)/$(ARCH_DIR)/tty.cpp.o \
    $(BUILD_DIR)/$(ARCH_DIR)/idt.asm.o \
    $(BUILD_DIR)/$(ARCH_DIR)/idt.cpp.o \
    $(BUILD_DIR)/$(ARCH_DIR)/io.asm.o
